<%- include("../partial/erroresForm")%>
<%- include("../partial/confirmarEliminar") %>
<%- include("../partial/menu", {menu: "small"})%>
<%- include("../partial/menuProductos", {menu: "small"})%>
<div id="backRender">
    <%- include("../partial/tablaCategorias", { data }) %>
</div>