<%- include("../partial/erroresForm")%>
<%- include("../partial/confirmarEliminar") %>
<%- include("../partial/menu", {menu: "small"})%>
<%- include("../partial/menuRegistrosFacturacion", {menu: "small"})%>
<div id="backRender">
    <%- include("../partial/editarProductoPers", {}) %>
</div>