<%- include("../partial/erroresForm")%>
<%- include("../partial/confirmarEliminar") %>
<%- include("../partial/menu", {menu: "small"})%>
<%- include("../partial/menuLocal", {menu: "small"})%>
<div id="backRender">
    <%- include("../partial/local", { data }) %>
</div>