<div id="prodCards">
<% data.forEach(dato => { 
  if(!JSON.parse(dato.visible)){
    return;
  }
  let estado = "Inactivo"; 
  if(JSON.parse(dato.estado)){estado = "Activo"}; 
  let ivaVer = parseFloat(dato.iva) / 10;
  %>

<div class="backListaProdCard">
  <img src="/<%= dato.img %>" alt="" />
  <h1><%= dato.nombre %></h1>
  <table>
    <tbody>
      <tr>
        <td>Código</td>
        <td><%= dato.codigo %></td>
      </tr>
      <tr>
        <td>Categoría</td>
        <td><%= dato.categoria %></td>
      </tr>
      <tr>
        <td>Nombre</td>
        <td><%= dato.nombre %></td>
      </tr>
      <tr>
        <td>Descripción</td>
        <td><%= dato.descripcion %></td>
      </tr>
      <tr>
        <td>Fraccionamiento</td>
        <td><%= dato.fraccionamiento %></td>
      </tr>
      <tr>
        <td>Precio por Unidad</td>
        <td>$<%= dato.preciounidad %></td>
      </tr>
      <tr>
        <td>Precio por Docena</td>
        <td>$<%= dato.preciodocena %></td>
      </tr>
      <tr>
        <td>Precio por Kilo</td>
        <td>$<%= dato.preciokilo %></td>
      </tr>
      <tr>
        <td>IVA</td>
        <td><%= ivaVer %>%</td>
      </tr>
      <tr>
        <td>Estado</td>
        <td><%= estado %></td>
      </tr>
    </tbody>
  </table>
  <div class="backListaProdCardBoton btnNaranja" id="backListaProdEditar" data-id="<%= dato.id %>">editar</div>
  <div class="backListaProdCardBoton btnRojo" id="backListaProdEliminar" data-id="<%= dato.id %>" data-tipo="productos">eliminar</div>
</div>
<%}); %>
</div>

<script src="/script/cardsProductos.js" defer></script>