<%
function monetarizar(valor){
  if (valor < 1) {
      return "-";
  }
  valor = new Intl.NumberFormat("es-AR", { style: "currency", currency: "ARS" }).format(valor);
  return valor;
}
const apertura = JSON.parse(registro.inicio);
const fechaApertura = new Date(apertura.fecha);
%>

<h2>Cerrar caja Nº<%=registro.numero%></h2>

<div id="cierreCajaContenedor">

  <div class="resumenRegistroFact">
    <h2>Apertura</h2>
    <span>
        Hora: <%=fechaApertura.toLocaleTimeString()%>
    </span><hr>
    <span>
        Efectivo en caja: <%=monetarizar(apertura.efectivo)%>
    </span><hr>
    <span>
        Efectivo reservado: <%=monetarizar(apertura.reservado)%>
    </span><hr>
    <span>
        Nombre: <%=apertura.nombre%>
    </span>
  </div>

  <div class="cierreCajaSigno">&plus;</div>

  <div class="resumenRegistroFact">
    <h2>Ingresos</h2>
    <span>Efectivo: <%=monetarizar(resumen.totalEfectivo)%></span>
    <hr>
    <span>Débito: <%=monetarizar(resumen.totalDebito)%></span>
    <hr>
    <span>Crédito: <%=monetarizar(resumen.totalCredito)%></span>
    <hr>
    <span>Tranf. NB: <%=monetarizar(resumen.totalNB)%></span>
  </div>

  <div class="cierreCajaSigno">-</div>

  <div class="resumenRegistroFact">
    <h2>Gastos y retiros</h2>
    <span>Gastos: <%=monetarizar(resumenGastos.gastos)%></span>
    <hr>
    <span>Retiros: <%=monetarizar(resumenGastos.retiros)%></span>
  </div>

  <div class="cierreCajaSigno">=</div>

  <div class="resumenRegistroFact">
    <h2>Cierre calculado</h2>
    <span>Efectivo en caja: <b> <%=monetarizar(calcularCierre.efectivo)%></b></span>
    <hr>
    <span>Efectivo reservado: <b> <%=monetarizar(calcularCierre.reservado)%></b></span>
  </div>
 
</div>

<form action="" method="post" id="cierreCajaCierre" class="editor">
  <h1>Cierre de Caja</h1>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Contabilizado</th>
        <th>Calculado</th>
        <th>Diferencia</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Efectivo en caja</td>
        <td><input type="number" min="0" name="efectivo" id="efectivo" /></td>
        <td><input type="text" id="efectivoCalculado" value="<%=monetarizar(calcularCierre.efectivo)%>" readonly></td>
        <td><input type="text" id="efectivoDiferencia" name="efectivoDiferencia" readonly></td>
      </tr>
      <tr>
        <td>Efectivo reservado</td>
        <td><input type="number" min="0" name="reservado" id="reservado" /></td>
        <td><input type="text" id="reservadoCalculado" value="<%=monetarizar(calcularCierre.reservado)%>" readonly></td>
        <td><input type="text" id="reservadoDiferencia" name="reservadoDiferencia" readonly></td>
      </tr>
      <tr>
        <td>Nombre</td>
        <td colspan="3"><input type="text" name="nombre" id="nombre" /></td>
      </tr>
    </tbody>
  </table>

  <input type="hidden" name="id" value=<%= registro.id %>>

  <input type="submit" value="Cerrar Caja" class="btn btnVerde">
  </span>
</form>

<script defer src="/script/cerrarCaja.js"></script>

<script>
  window.registro = <%- JSON.stringify(registro) %>
  window.gastos = <%- JSON.stringify(gastos) %>
  window.resumenGastos = <%- JSON.stringify(resumenGastos) %>
  window.facturas = <%- JSON.stringify(facturas) %>
  window.resumen = <%- JSON.stringify(resumen) %>
  window.fecha = <%- JSON.stringify(fecha) %>
  window.calcularCierre = <%- JSON.stringify(calcularCierre) %>

</script>
