<%
function monetarizar(valor){
  if (valor < 1) {
      return "-";
  }
  valor = new Intl.NumberFormat("es-AR", { style: "currency", currency: "ARS" }).format(valor);
  return valor;
}
const apertura = JSON.parse(registro.inicio);
const fechaApertura = new Date(apertura.fecha);
fechaApertura.setHours(fechaApertura.getHours() + 3);
%>

<h2>Cerrar caja Nº<%=registro.numero%></h2>

<div id="cierreCajaContenedor">

  <div class="resumenRegistroFact">
    <h2>Apertura</h2>
    <span>
      Fecha: <%=fechaApertura.toLocaleDateString()%>
    </span><hr>
    <span>
        Hora: <%=fechaApertura.toLocaleTimeString() %>
    </span><hr>
    <span>
        Efectivo en caja: <%=monetarizar(apertura.efectivo)%>
    </span><hr>
    <span>
        Efectivo reservado: <%=monetarizar(apertura.reservado)%>
    </span><hr>
    <span>
        Nombre: <%=apertura.nombre%>
    </span>
  </div>

  <div class="cierreCajaSigno">&plus;</div>

  <div class="resumenRegistroFact">
    <h2>Ingresos</h2>
    <span>Efectivo: <%=monetarizar(resumen.totalEfectivo)%></span>
    <hr>
    <span>Débito: <%=monetarizar(resumen.totalDebito)%></span>
    <hr>
    <span>Crédito: <%=monetarizar(resumen.totalCredito)%></span>
    <hr>
    <span>Tranf. NB: <%=monetarizar(resumen.totalNB)%></span>
    <hr>
    <span style="position: relative;">
      Operaciones: <%=resumenGeneral.contadorOperaciones%> <span class="factRegFDPinfo" id="cierreCajaDetalles">&#128712;
        <div class="cierreCajaDetallesOperaciones">
          <span>CAE: <%=resumenGeneral.contadorCAE%></span>
          <hr>
          <span>Comandas: <%=resumenGeneral.contadorComanda%></span>
        </div>
    </span>
      
    </span>
    
  </div>

  <div class="cierreCajaSigno">-</div>

  <div class="resumenRegistroFact">
    <h2>Gastos y retiros</h2>
    <span>Gastos: <%=monetarizar(resumenGastos.gastos)%></span>
    <hr>
    <span>Retiros: <%=monetarizar(resumenGastos.retiros)%></span>
  </div>

  <div class="cierreCajaSigno">=</div>

  <div class="resumenRegistroFact">
    <h2>Cierre calculado</h2>
    <span>Efectivo en caja: <b> <%=monetarizar(calcularCierre.efectivo)%></b></span>
  </div>
 
</div>

<div id="cierreCajaContenedor">

  <form action="" method="post" id="cierreCajaCerrar" class="editor">
    <h1>Cierre de Caja</h1>
    <span>
        <label for="efectivo">Efectivo en caja</label>
        <input type="number" min="0" name="efectivo" id="efectivo" />
    </span>
    <span>
        <label for="reservado">Efectivo reservado</label>
        <input type="number" min="0" name="reservado" id="reservado" />
    </span>
    <span>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" />
    </span>
    <input type="hidden" name="ajuste" id="ajuste" readonly>
    <input type="hidden" name="reporte" id="reporte" readonly>
    <input type="hidden" name="id" value=<%= registro.id %> readonly>
    <input type="submit" value="Cerrar Caja" class="btn btnVerde">
    </span>
  </form>


  <div class="resumenRegistroFact" id="cierreCajaDiferencia" style="width: fit-content;">
      <h2>Diferencia</h2>
      <span>Calculado: <span id="calculado"></span></span>
      <span>Ingresado: <span id="ingresado"></span></span>
      <span>Diferencia: <span id="diferencia"></span></span>
  </div>
</div>


<script defer src="/script/cerrarCaja.js"></script>

<script>
  window.registro = <%- JSON.stringify(registro) %>
  window.gastos = <%- JSON.stringify(gastos) %>
  window.resumenGastos = <%- JSON.stringify(resumenGastos) %>
  window.facturas = <%- JSON.stringify(facturas) %>
  window.resumen = <%- JSON.stringify(resumen) %>
  window.resumenGeneral = <%- JSON.stringify(resumenGeneral) %>
  window.fecha = <%- JSON.stringify(fecha) %>
  window.calcularCierre = <%- JSON.stringify(calcularCierre) %>
  window.reporte = <%- JSON.stringify(reporte) %>
</script>
