<%function monetarizar(valor){
  valor = new Intl.NumberFormat("es-AR", { style: "currency", currency: "ARS" }).format(valor);
  return valor;
}
let facturasocultas = false;%>

<h2>Cierre de Caja <span class="btn btnHeader" id="abrirCaja">Abrir</span></h2>

<%if(registros.length == 0){%>
    <span>No se encuentran registros en la base de datos</span>
<%} else {%>
    <table>
        <thead>
            <tr>
                <th>Numero</th>
                <th>Fecha</th>
                <th>Apertura</th>
                <th>Cierre</th>
            </tr>
        </thead>
        <tbody>
            <%registros.forEach((registro) => {
                const apertura = JSON.parse(registro.inicio);
                const cierre = JSON.parse(registro.cierre);
                const fechaApertura = new Date(apertura.fecha);

                let fechaRef = Date.parse(fechaHyphen) - (dias * 1000 * 60 * 60 * 24);
                if(Date.parse(fechaApertura) < fechaRef){
                    facturasocultas = true;
                    return;
                }
                // ajuste para BBD testing TestAdjust
                fechaApertura.setHours(fechaApertura.getHours() - 5);
            %>
            <tr>
                <td><%=registro.numero%></td>
                <td><%=registro.fecha%></td>
                <td>
                    <span class="cierreCajaInfo">info
                        <span class="cierreCajaObservaciones">
                            <span>
                                <span>Fecha: </span>
                                <span><%= fechaApertura.toLocaleDateString([], {timeZone: "utc"}) %></span>
                            </span><hr>
                            <span>
                                <span>Hora: </span>
                                <span><%= fechaApertura.toLocaleTimeString([], {timeZone: "utc"}) %></span>
                            </span><hr>
                            <span>
                                <span>Responsale: </span>
                                <span><%= apertura.nombre %></span>
                            </span><hr>
                            <span>
                                <span>Efectivo: </span>
                                <span><%= monetarizar(apertura.efectivo) %></span>
                            </span><hr>
                            <span>
                                <span>Reservado: </span>
                                <span><%= monetarizar(apertura.reservado) %></span>
                            </span>
                        </span>
                    </span>
                </td>
                <td>
                  <%if(cierre === null){%>
                    <span class="btn btnVerde cierreCajaCerrar" data-id="<%=registro.id%>">Cerrar</span>
                  <%} else {
                    const fechaCierre = new Date(cierre.fecha);
                    // ajuste para BBD testing 
                    // fechaCierre.setHours(fechaCierre.getHours() - 5);
                    %>

                    <span class="cierreCajaInfo">info
                        <span class="cierreCajaObservaciones">
                            <span>
                                <span>Fecha: </span>
                                <span><%= fechaCierre.toLocaleDateString([], {timeZone: "utc"}) %></span>
                            </span><hr>
                            <span>
                                <span>Hora: </span>
                                <span><%= fechaCierre.toLocaleTimeString([], {timeZone: "utc"}) %></span>
                            </span><hr>
                            <span>
                                <span>Responsale: </span>
                                <span><%= cierre.nombre %></span>
                            </span><hr>
                            <span>
                                <span>Efectivo: </span>
                                <span><%= monetarizar(cierre.efectivo) %></span>
                            </span><hr>
                            <span>
                                <span>Reservado: </span>
                                <span><%= monetarizar(cierre.reservado) %></span>
                            </span><hr>
                            <span>
                                <span>Ajuste: </span>
                                <span><%= monetarizar(cierre.ajuste) %></span>
                            </span>
                        </span>
                    </span>
                  <%}%>  
                </td>
            </tr>
            <%})%>
        </tbody>
    </table>
<%}%>

<%if(facturasocultas){%>
    <div id="verMasSenias" class="btn btnNaranja small">Ver 7 días mas</div>
<%}%>

<script>
    window.registros = <%- JSON.stringify(registros) %>
</script>

<script defer src="/script/cierreCaja.js"></script>