<form action="" method="post" id="editorProducto" class="editor">
  <h1>Editar Producto</h1>
  <span>
    <label for="id">ID</label>
    <input type="text" name="id" id="id" readonly value="<%= data.id %>"/>
  </span>
  <span>
    <label for="codigo">Código</label>
    <input type="number" min="100" name="codigo" id="codigo" value="<%= data.codigo %>" />
  </span>
  <span>
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="nombre" value="<%= data.nombre %>" />
  </span>
  <span>
    <label for="categoria">Categoría</label>
    <select name="categoria" id="categoria">
      <option value="" disabled selected>- Seleccionar un item -</option>
      <% dataCategorias.forEach((categoria) => {
        let selected = "";
        if(categoria.categoria.toLowerCase() == data.categoria.toLowerCase()){selected = "selected";} %>
        <option value="<%= categoria.categoria %>" <%= selected %>><%= categoria.categoria %></option>
      <% })%>
    </select>
  </span>
  <span>
    <label for="descripcion">Descripcion</label>
    <textarea name="descripcion" id="descripcion" rows="5"><%= data.descripcion %></textarea>
  </span>
  <% 
  let fraccionUnidad = "";
  let fraccionDocena = "";
  let fraccionKilo = "";
  let fraccionManual = "";
  if(data.fraccionamiento == "unidad"){
    fraccionUnidad = "selected";
  }
  if(data.fraccionamiento == "docena"){
    fraccionDocena = "selected";
  }
  if(data.fraccionamiento == "kilo"){
    fraccionKilo = "selected";
  }
  if(data.fraccionamiento == "manual"){
    fraccionManual = "selected";
  }
  %>
  <span>
    <label for="fraccionamiento">Fraccionamiento</label>
    <select name="fraccionamiento" id="editProdFraccionamiento">
      <option value="" selected disabled>-Seleccione una opción-</option>
      <option value="unidad" <%= fraccionUnidad %>>Unidad</option>
      <option value="docena" <%= fraccionDocena %>>Docena</option>
      <option value="kilo" <%= fraccionKilo %>>Kilo</option>
      <option value="manual" <%= fraccionManual %>>Manual</option>
    </select>
  </span>
  <span>
    <label for="preciounidad">Precio por Unidad</label>
    <input type="number" min="0" name="preciounidad" id="preciounidad" value="<%= data.preciounidad || 0 %>" />
  </span>
  <span>
    <label for="preciodocena">Precio por Docena</label>
    <input type="number" min="0" name="preciodocena" id="preciodocena" value="<%= data.preciodocena || 0 %>" />
  </span>
  <span>
    <label for="preciokilo">Precio por Kilo</label>
    <input type="number" min="0" name="preciokilo" id="preciokilo" value="<%= data.preciokilo || 0 %>" />
  </span>
  <span>
    <label for="iva">IVA</label>
    <select name="iva" id="iva">
      <option value="" disabled selected>- Seleccionar un item -</option>
      <option value="105" <%if(data.iva == 105){%><%="selected"%><%}%>>10,5%</option>
      <option value="210" <%if(data.iva == 210){%><%="selected"%><%}%>>21%</option>
      </select>
  </span>
  <span>
    <label for="estado">Estado</label>
    <input type="checkbox" name="estado" id="estado" value="true" <% if(data.estado == "true"){%><%= "checked" %><%} %>>
  </span>
  <span>
    <label for="nombreImg">Nombre de Imagen</label>
    <input type="text" name="nombreImg" id="nombreImg" readonly value="im/prodLocal<%= data.id %>.png" />
</span>
  <span>
    <input type="submit" value="Modificar">
  </span>
  <input type="hidden" name="tipo" value="editar">
  <input type="hidden" name="lista" value="<%=lista%>">
  <input type="hidden" name="nombreImgOriginal" value="<%= data.img || data.nombreImgOriginal %>">
</form>