<form action="" method="post" id="editorLocal" class="editor">
    <h1>Editar Local</h1>
    <span>
        <label for="estado">Estado</label>
        <% let estadoActivo = "selected";
        let estadoInactivo = "";
        if(!JSON.parse(data.estado)){
          estadoActivo = "";
          estadoInactivo = "selected";
        } %>
        <select name="estado" id="estado">
            <option value="true" <%= estadoActivo %>>Activo</option>
            <option value="false" <%= estadoInactivo %>>Inactivo</option>
        </select>
    </span>
    <span>
        <label for="id">ID</label>
        <input type="text" name="id" id="id" value="<%= data.id %>" readonly />
    </span>
    <span>
        <label for="franquicia">Franquicia</label>
        <input type="text" name="franquicia" id="franquicia" value="<%= data.franquicia %>" />
    </span>
    <span>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" value="<%= data.nombre %>" />
    </span>
    <span>
        <label for="direccion">Dirección</label>
        <input type="text" name="direccion" id="direccion" value="<%= data.direccion %>" />
    </span>
    <span>
        <label for="telefono">Teléfono</label>
        <input type="text" name="telefono" id="telefono" value="<%= data.telefono %>" />
    </span>
    <span>
        <label for="gmap">Ubicación Google Maps</label>
        <textarea name="gmap" id="gmap" rows="8"><%= data.gmap %></textarea>
    </span>
    <span>
        <label for="img">Nombre de Imagen</label>
        <input type="text" name="img" id="img" value="im/local/local<%= data.id %>.png" readonly />
    </span>
    <span>
        <label for="linkmp">Link MP</label>
        <input type="text" name="linkmp" id="linkmp" value="<%= data.linkmp %>" />
    </span>

    <span>
        <span>Servicios</span>
        <span>
            <div id="nuevoLocalServicios">
                <%  let servicioArray = [];
                    let serviciosActivos = JSON.parse(data.servicios || data.serviciosArray);
                    servicios.forEach((servicio) => {
                        servicioArray.push(servicio.servicio);
                        let estado = "";
                        if(serviciosActivos[servicio.servicio] || data[servicio.servicio]){estado = "checked"}%>
                        <div>
                            <span><input type="checkbox" name="<%= servicio.servicio %>" value="true" <%= estado %>></span>
                            <span>Servicio <%= servicio.servicio %></span>
                        </div>
                    <%})%>
            </div>
        </span>
    </span>

    <%if(serviciosActivos.pedidos || data.pedidos){%>
    <h2>Servicio de Pedidos</h2><hr>

    <span>
        <span>Lista de costos</span>
        <span>
            <select name="listaCostos" id="listaDeCostos">
                <%columnasCostos.forEach((columna) => {
                    let selected;
                    if(data.listacostosprimaria === columna){
                        selected = "selected";
                    }
                    let numeroDeLista = columna.replace(/[^0-9]/g, "");
                    let nombreDeLista = "Lista " + numeroDeLista%>%>
                    <option value="<%=numeroDeLista%>" <%=selected%>><%=nombreDeLista%></option>
                <%})%>
            </select>
        </span>
    </span>

    <span>
        <span>Dias de Entrega</span>
        <span>
            <div id="nuevoLocalCalendario">
                <div>
                    <span><input type="checkbox" name="1" id="" value="1" <% if(diasEntrega[1]){%> checked <%}%>></span>
                    <span>Lunes</span>
                </div>
                <div>
                    <span><input type="checkbox" name="2" id="" value="2" <% if(diasEntrega[2]){%> checked <%} %>></span>
                    <span>Martes</span>
                </div>
                <div>
                    <span><input type="checkbox" name="3" id="" value="3" <% if(diasEntrega[3]){%> checked <%} %>></span>
                    <span>Miércoles</span>
                </div>
                <div>
                    <span><input type="checkbox" name="4" id="" value="4" <% if(diasEntrega[4]){%> checked <%} %>></span>
                    <span>Jueves</span>
                </div>
                <div>
                    <span><input type="checkbox" name="5" id="" value="5" <% if(diasEntrega[5]){%> checked <%} %>></span>
                    <span>Viernes</span>
                </div>
                <div>
                    <span><input type="checkbox" name="6" id="" value="6" <% if(diasEntrega[6]){%> checked <%} %>></span>
                    <span>Sábado</span>
                </div>
                <div>
                    <span><input type="checkbox" name="0" id="" value="0" <% if(diasEntrega[0]){%> checked <%} %>></span>
                    <span>Domingo</span>
                </div>
            </div>
        </span>
    </span>
    <%} else {%>
        <input type="hidden" name="1" value="1">
    <%}%>


    <%if(serviciosActivos.facturacion || data.facturacion){%>
    <h2>Servicio de Facturación</h2><hr>
    <span>
        <span>Lista de precios principal</span>
        <span>
            <select name="lista" id="listaDePrecios">
                <%columnas.forEach((columna) => {
                    let selected;
                    if(data.listaprimaria === columna){
                        selected = "selected";
                    }
                    let numeroDeLista = columna.replace(/[^0-9]/g, "");
                    let nombreDeLista = "Lista " + numeroDeLista%>%>
                    <option value="<%=numeroDeLista%>" <%=selected%>><%=nombreDeLista%></option>
                <%})%>
            </select>
        </span>
    </span>

    <span>
        <span>Listas disponibles</span>
        <div id="listasDePreciosEditLocal">
        <%let listasDisponibles = JSON.parse(data.listasdisponibles)%>
        <%columnas.forEach((columna) => {
            let checked = "";
            if(listasDisponibles.findIndex((lista) => lista === columna) !== -1){
                checked = "checked";
            }
            let numeroDeLista = columna.replace(/[^0-9]/g, "");
            let nombreDeLista = "Lista " + numeroDeLista%>
            <div>
            <input type="checkbox" name="listasDisp" class="listasDisp" id="<%=columna%>" value="<%=numeroDeLista%>" <%= checked %>>
            <span><%=nombreDeLista%></span>
            </div>
        <%})%>
        </div>
    </span>
    <%}%>

    <input type="hidden" name="serviciosArray" value="<%= JSON.stringify(servicioArray) %>">

    <span>
        <input type="submit" value="Modificar">
    </span>
    <input type="hidden" name="tipo" value="editar">
    <input type="hidden" name="nombreImgOriginal" value="<%= data.img || data.nombreImgOriginal %>">
</form>

<script defer src="/script/editarLocal.js"></script>