<form action="" method="post" id="editorLocal" class="editor">
    <h1>Editar Local</h1>
    <span>
        <label for="id">ID</label>
        <input type="text" name="id" id="id" value="<%= data.id %>" readonly />
    </span>
    <span>
        <label for="franquicia">Franquicia</label>
        <input type="text" name="franquicia" id="franquicia" value="<%= data.franquicia %>" />
    </span>
    <span>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" value="<%= data.nombre %>" />
    </span>
    <span>
        <label for="cuit">CUIT</label>
        <input type="text" name="cuit" id="cuit" value="<%= data.cuit %>" />
    </span>
    <span>
        <label for="impuestos">Estado Impositivo</label>
        <select name="impuestos" id="impuestos">
            <option value="monotributista" <%if(data.impuestos == "monotributista"){%><%="selected"%><%}%>>Monotributista</option>
            <option value="responsable" <%if(data.impuestos == "responsable"){%><%="selected"%><%}%>>Resposable Inscripto</option>
        </select>
    </span>
    <span>
        <label for="ptoventa">Punto de Venta</label>
        <input type="text" name="ptoventa" id="ptoventa" value="<%= data.ptoventa %>" />
    </span>
    <span>
        <label for="direccion">Dirección</label>
        <input type="text" name="direccion" id="direccion" value="<%= data.direccion %>" />
    </span>
    <span>
        <label for="telefono">Teléfono</label>
        <input type="text" name="telefono" id="telefono" value="<%= data.telefono %>" />
    </span>
    <span>
        <label for="gmap">Ubicación Google Maps</label>
        <textarea name="gmap" id="gmap" rows="8"><%= data.gmap %></textarea>
    </span>
    <span>
        <label for="img">Nombre de Imagen</label>
        <input type="text" name="img" id="img" value="im/local/local<%= data.id %>.png" readonly />
    </span>
    <span>
        <label for="promobp">Promo Banco Provincia</label>
        <% 
        let promobp="" ; 
        if(data.promobp == "true"){
            promobp="checked";
        }
         %>
        <input type="checkbox" name="promobp" id="promobp" value="true" <%= promobp %>>
    </span>
    <span>
        <label for="linkmp">Link MP</label>
        <input type="text" name="linkmp" id="linkmp" value="<%= data.linkmp %>" />
    </span>

    <span>
        <span>Dias de Entrega</span>
        <span>
            <div id="nuevoLocalCalendario">
                <div>
                    <span><input type="checkbox" name="1" id="" value="1" <% if(diasEntrega[1]){%>checked<%} %>></span>
                    <span>Lunes</span>
                </div>
                <div>
                    <span><input type="checkbox" name="2" id="" value="2" <% if(diasEntrega[2]){%>checked<%} %>></span>
                    <span>Martes</span>
                </div>
                <div>
                    <span><input type="checkbox" name="3" id="" value="3" <% if(diasEntrega[3]){%>checked<%} %>></span>
                    <span>Miércoles</span>
                </div>
                <div>
                    <span><input type="checkbox" name="4" id="" value="4" <% if(diasEntrega[4]){%>checked<%} %>></span>
                    <span>Jueves</span>
                </div>
                <div>
                    <span><input type="checkbox" name="5" id="" value="5" <% if(diasEntrega[5]){%>checked<%} %>></span>
                    <span>Viernes</span>
                </div>
                <div>
                    <span><input type="checkbox" name="6" id="" value="6" <% if(diasEntrega[6]){%>checked<%} %>></span>
                    <span>Sábado</span>
                </div>
                <div>
                    <span><input type="checkbox" name="0" id="" value="0" <% if(diasEntrega[0]){%>checked<%} %>></span>
                    <span>Domingo</span>
                </div>
            </div>
        </span>
    </span>
<span>
    <span>Servicios</span>
    <span>
        <div id="nuevoLocalServicios">
            <%  let servicioArray = [];
                let serviciosActivos = JSON.parse(data.servicios || data.serviciosArray);
                servicios.forEach((servicio) => {
                    servicioArray.push(servicio.servicio);
                    let estado = "";
                    if(serviciosActivos[servicio.servicio]){estado = "checked"}%>
                    <div>
                        <span><input type="checkbox" name="<%= servicio.servicio %>" value="true" <%= estado %>></span>
                        <span>Servicio <%= servicio.servicio %></span>
                    </div>
                <%})%>
        </div>
    </span>
</span>

    <input type="hidden" name="serviciosArray" value="<%= JSON.stringify(servicioArray) %>">

    <span>
        <label for="estado">Estado</label>
        <% let estadoActivo = "selected";
        let estadoInactivo = "";
        if(data.estado == "inactivo"){
          estadoActivo = "";
          estadoInactivo = "selected";
        } %>
        <select name="estado" id="estado">
            <option value="activo" <%= estadoActivo %>>Activo</option>
            <option value="inactivo" <%= estadoInactivo %>>Inactivo</option>
        </select>
    </span>

    <span>
        <input type="submit" value="Modificar">
    </span>
    <input type="hidden" name="tipo" value="editar">
    <input type="hidden" name="nombreImgOriginal" value="<%= data.img || data.nombreImgOriginal %>">
</form>

<script defer src="/script/cuit.js"></script>