<form action="" method="post" class="editor" id="usuarioForm">
    <h1>Editar Usuario</h1>
    <span>
      <label for="usuario" class="off">Usuario</label>
      <input type="text" id="usuario" value="<%= data.usuario %>" readonly disabled />
    </span>
    <span>
      <label for="password">Nueva Contraseña</label>
      <input type="password" name="password" id="password" placeholder="contraseña" autocomplete="new-password"><br>
    </span>
    <span>
      <label for="password">Repetir Nueva Contraseña</label>
      <input type="password" name="passwordrep" id="passwordrep" placeholder="repetir contraseña" autocomplete="off"><br>
    </span>
    <span id="refPassword">La contraseña debe tener un mínimo de 6 caracteres y contener por lo menos 1 número</span>
    <span>
      <%let selectedAdmin = "";
        let selectedAtencion = "";
        switch (data.rol) {
          case "admin":
            selectedAdmin = "selected";
            break;
          case "atencion":
            selectedAtencion = "selected";
            break;
          default:
            break;
        } %>
      <label for="rolUser">Rol</label>
          <select name="rolUser" id="rolUser">
              <option value="admin" <%= selectedAdmin %>>Administración</option>
              <option value="atencion" <%= selectedAtencion %>>Atención</option>
          </select>
      </label>
    </span>
    <span>
      <input type="submit" value="Modificar" />
    </span>
    <input type="hidden" name="id" value="<%= data.id %>">
    <input type="hidden" name="local" value="<%= data.local %>">
  </form>
  <script src="/script/passwords.js"></script>