<% if(pedido.local == "x"){%>
    <h1>Pedido Inexistente</h1>
<% } else { %>
<div id="popScreen"></div>
<form action="" method="post" id="nuevaProduccion" class="editor anchoMax">
    <div id="datosFloat">
        <span>
            <span><b>Fecha de entrega:</b></span>
            <span id="pedidoProduccionDatosFechaEntrega"><%= pedido.fechaentrega %></span>
        </span>
        <span id="pedidoProduccionTotal">
            <b>Total:</b>
        </span>
        <span>
            <input type="submit" value="Modificar" class="btn btnVerde" id="pedidoProduccionUpdate">
        </span>
    </div>
    <h1>Editar Pedido a Producción</h1>
    <div id="pedidoProdHeadForm">  
        <h3>Pedido <%= pedido.id %></h3>
        <hr>
        <h3>Fecha de Entrega: <%= pedido.fechaentrega %></h3>
        <hr>
        <% let local = locales.find((local) => pedido.local == local.id) %>
        <h3>Local: <%= local.nombre %></h3>
    </div>
    <table id="pedidoProduccionTabla">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Producto</th>
                <th>Unidad</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Importe</th>
            </tr>
        </thead>
        <tbody>
            <% let minimosCategoria = {}
            categorias.forEach((categoria) => {
                let joinNombre = categoria.categoriaProduccion.split(" ").join("");
                minimosCategoria[joinNombre] = [0, categoria.minimo];
                let prodFiltrados = [];
                productos.forEach((item) => {
                    if(item.categoria == categoria.categoriaProduccion){
                        prodFiltrados.push(item);
                    }
                })
                if(prodFiltrados.length > 0){%>
                    <tr>
                        <th colspan="7" class="categoriaTabla">
                            <%= categoria.categoriaProduccion %>
                            <%if(JSON.parse(pedido.minimos) && categoria.minimo > 0){%>
                                - Compra mínima: <span id="cantidad<%=categoria.categoriaProduccion.split(" ").join("")%>" class="cantidadCategoria">0</span> /<%= categoria.minimo %>
                            <%}%>
                        </th>
                    </tr>
                    <%let pedidoParsed = JSON.parse(pedido.pedido);
                    prodFiltrados.forEach((producto) => {
                        let categoria = categorias.find((dato) => dato.categoriaProduccion == producto.categoria);
                        let categoriaProduccion = categoria.categoriaProduccion.split(" ").join("");
                        if(categoria){color = categoria.color};
                        let cantidadPedida = 0;
                        if(pedidoParsed !== undefined && pedido.local !== "x"){
                            cantidadPedida = pedidoParsed.find((dato) => dato[1] == producto.id);
                            if(cantidadPedida !== undefined){
                                cantidadPedida = cantidadPedida[0];
                            } else {
                                cantidadPedida = 0;
                            }
                        } 
                        %>
                        <tr>
                            <td style="border-color: <%= color %>;" class="categoriaProduccion"><%= producto.codigo %></td>
                            <td><%= producto.nombre %></td>
                            <td><%= producto.unidad %></td>
                            <td class="pedidoProduccionCeldaImporte">
                                <span>$</span>
                                <span id="costo<%= producto.id %>"><%= producto.costo %></span></td>
                            <td>
                                <input type="number" min="0" name="<%= producto.id %>" id="cantidad<%= producto.id %>" data-id="<%= producto.id %>" data-categoria="<%= categoriaProduccion %>" class="pedidoProduccionCantidad <%= categoriaProduccion %>" value="<%= cantidadPedida %>">
                            </td>
                            <td class="pedidoProduccionCeldaImporte">
                                <span>$</span>
                                <span class="importe" id="importe<%= producto.id %>">0</span>
                            </td>
                            <td class="verProdFabrica">ver<span><img src="/<%= producto.img %>" alt=""><p><%= producto.descripcion %></p></span></td>
                        </tr>
                    <%})
                }
            })%>
            <tr style="display: none;">
                <td> <input type="text" name="pedidoProduccionLocalId" id="pedidoProduccionLocalId" value="<%= pedido.id %>"> </td>
                <td> <input type="text" name="pedidoProduccionImporteTotal" id="pedidoProduccionImporteTotal"> </td>
            </tr>
        </tbody>
    </table>
</form>
<script>
    window.minimos = <%- pedido.minimos %>;
    window.minimosCategoria = <%- JSON.stringify(minimosCategoria) %>;
</script>
<% } %>
