<%function monetarizar(valor){
    valor = new Intl.NumberFormat('es-AR', { style: 'currency', currency: 'ARS'  }).format(valor);
    return valor;
}%>
<h2>Señas</h2>
<%if(senias.length < 1){%>
        <h1>No se encuentran señas en la base de datos</h1>
<%return}%>
<table id="facturacionLocalSenias">
    <thead>
        <tr>
            <th>Numero</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Seña</th>
            <th>Resto</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <%senias.forEach((seña) => {
            const observaciones = JSON.parse(seña.observaciones)
            // const totalFormateado = new Intl.NumberFormat('es-AR', { style: 'currency', currency: 'ARS'  }).format(seña.total);
            // const señaFormateado = new Intl.NumberFormat('es-AR', { style: 'currency', currency: 'ARS'  }).format(seña.senia);
            let resto = seña.total - seña.senia;
            // resto = new Intl.NumberFormat('es-AR', { style: 'currency', currency: 'ARS'  }).format(resto);
            let estilo = "seniaPendiente"
            switch (observaciones.estadoSenia) {
                case "retirado":
                    estilo = "seniaRetirada"
                    break;
                case "cancelado":
                    estilo = "seniaCancelada"
                    break;
                default:
                    break;
            }%>
            <tr>
                <td><%=seña.numero%></td>
                <td><%=seña.fechaevento.toLocaleString("es-AR")%></td>
                <td class="importe"><%= monetarizar(seña.total)%></td>
                <td class="importe"><%=monetarizar(seña.senia)%></td>
                <td class="importe"><%= monetarizar(resto)%></td>
                <td><%=observaciones.nombre%></td>
                <td><span class="seniaAll <%= estilo %>"><%=observaciones.estadoSenia%></span></td>
                <td>
                    <%if(observaciones.estadoSenia == "pendiente"){%>
                        <img src="/im/facturado.svg" alt="icono facturar" title="Facturar" data-id="<%=seña.id%>" data-accion="registrar" id="modificarSenia">
                        <img src="/im/cancel.svg" alt="icono facturar" title="Cancelar" data-id="<%=seña.id%>" data-accion="cancelar" id="modificarSenia">
                    <%}%>
                </td>
            </tr>
        <%})%>
    </tbody>
</table>