<%function monetarizar(valor){
    valor = new Intl.NumberFormat("es-AR", { style: "currency", currency: "ARS" }).format(valor);
    return valor;
}%>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


<h2 id="InputRegistroFacturacion">Resumen del <input type="date" name="fechaRegFact" id="fechaFactFabrica" value="<%=fechaHyphen%>"></h2> 

<div id="statsChartFabricaVentasDelDia"></div>

<h2>Detalles</h2>
<table class="resumenFacturaciones">
    <thead>
        <tr>
            <th>Local</th>
            <th>Operaciones</th>
            <th>Total</th>
            <th>Promedio</th>
            <th>Efectivo</th>
            <th>Otros</th>
            <th>Comandas</th>
            <th>CAE</th>
        </tr>
    </thead>
    <tbody>
        <%facturacionDiaria.sort((a, b) => b.total - a.total)
        facturacionDiaria.forEach((local) => {
            let promedio = local.total / local.operaciones;
            let otrosMedios = local.total - local.totalEfectivo
            if(isNaN(promedio)){promedio = 0};
            %>
            <tr>
                <td><%=local.local%></td>
                <td style="text-align: center;"><%=local.operaciones%></td>
                <td class="importe"><%=monetarizar(local.total)%></td>
                <td class="importe"><%=monetarizar(promedio)%></td>
                <td class="importe medium sepTabla"><%=monetarizar(local.totalEfectivo)%></td>
                <td class="importe medium"><%=monetarizar(otrosMedios)%></td>
                <td class="importe medium sepTabla"><%=monetarizar(local.totalComanda)%></td>
                <td class="importe medium"><%=monetarizar(local.totalCAE)%></td>
            </tr>
        <%})%>
    </tbody>
</table>

<script>
    window.facturacionDiaria = <%- JSON.stringify(facturacionDiaria) %>
</script>

<script src="/script/registroFacturacionFabrica.js"></script>