<h2 id="InputRegistroFacturacion">Facturacion del <input type="date" name="fechaRegFact" id="fechaRegFact" value="<%=fechaHyphen%>"></h2> 
<div id="contRegistroFact">
    <%  function monetarizar(valor){
            valor = new Intl.NumberFormat('es-AR', { style: 'currency', currency: 'ARS'  }).format(valor);
            return valor;
        }
        if(facturas.length > 0){%>
    <table id="tablaFacturacionLocalRegistros">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Numero</th>
                <th>Total</th>
                <th>Medio de Pago</th>
            </tr>
        </thead>
        <tbody>
        <%facturas.forEach(factura => {
            let fechaFacturacion = new Date(factura.fecha);
            let estilo = "factX"
            switch (factura.tipo) {
                case 1:
                    factura.tipo = "A";
                    estilo = "factA";
                    break;
                case 6:
                    factura.tipo = "B";
                    estilo = "factB";
                    break;
                case 11:
                    factura.tipo = "C";
                    estilo = "factC";
                    break;
                case "S":
                    estilo = "factS";
                    break;
                default:
                    break;
            }%>
            <tr>
                <%= // fechaFacturacion.toLocaleDateString("es-AR", {timeZone: 'UTC'})%>
                <td><%= factura.fechaevento.toLocaleString("es-AR") %></td>
                <td><span class="factAll <%= estilo %>"><%= factura.tipo %></span></td>
                <td><%= factura.numero %></td>
                <%let total = factura.total - factura.senia;
                if(factura.tipo === "S"){
                    total = factura.senia;
                }%>
                <td class="importe"><%= monetarizar(total) %></td>
                <td><%= factura.formaPago %></td>
            </tr>
        <%}); %>
        </tbody>
    </table>
    <span>

        <div id="resumenRegistroFact">
            <h3>Resumen</h3>
            <span>Fecha: <%=fechaNormalizada%></span>
            <hr>
            <span>Total de operaciones: <%=facturas.length%></span>
            <hr>
            <span>Venta total: <%= resumen.totalDia %></span>
            <hr>
            <span>Ticket promedio: <%=resumen.promedio%></span>
        </div>
        <br>
        <div id="resumenRegistroFact">
            <h3>Distribución</h3>
            <span>Efectivo: <%=resumen.totalEfectivo%></span>
            <hr>
            <span>Débito: <%=resumen.totalDebito%></span>
            <hr>
            <span>Crédito: <%=resumen.totalCredito%></span>
            <hr>
            <span>Tranf. NB: <%=resumen.totalNB%></span>
        </div>
        <br>
        <div id="resumenRegistroFact">
            <h3>Registro</h3>
            <span>Total con CAE: <%=resumen.totalCAE%></span>
            <hr>
            <span>Total sin CAE: <%=resumen.totalNF%></span>
        </div>

    </span>
    

    <%} else {%>
        <span>No se encuentran registros para la fecha</span>
    <%};%>

</div>

<script defer src="/script/registroFacturacion.js"></script>