<h2 id="InputRegistroFacturacion" class="noImprimir">Facturacion del <input type="date" name="fechaRegFact" id="fechaRegFact" value="<%=fechaHyphen%>"></h2> 
<div id="contRegistroFact">
    <%  function monetarizar(valor){
            valor = new Intl.NumberFormat('es-AR', { style: 'currency', currency: 'ARS'  }).format(valor);
            return valor;
        }
        if(facturas.length > 0){%>
    <table id="tablaFacturacionLocalRegistros">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Numero</th>
                <th>Total</th>
                <th>Pago</th>
                <th>Detalles</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <%facturas.forEach(factura => {
            let fechaFacturacion = new Date(factura.fecha);
            let estilo = "factX";
            let nc = false;
            switch (factura.tipo) {
                case 1:
                    factura.tipo = "A";
                    estilo = "factA";
                    break;
                case 3:
                    // factura.tipo = "NC";
                    estilo = "factNC";
                    nc = true;
                    break;
                case 6:
                    factura.tipo = "B";
                    estilo = "factB";
                    break;
                case 8:
                    // factura.tipo = "NC";
                    estilo = "factNC";
                    nc = true;
                    break;
                case 11:
                    factura.tipo = "C";
                    estilo = "factC";
                    break;
                case 13:
                    // factura.tipo = "NC";
                    estilo = "factNC";
                    nc = true;
                    break;
                case "S":
                    estilo = "factS";
                    break;
                case "NC":
                    nc = true;
                    break;
                default:
                    break;
            }%>
            <tr>
                <%= // fechaFacturacion.toLocaleDateString("es-AR", {timeZone: 'UTC'})%>
                <td><%= factura.fechaevento.toLocaleString("es-AR") %></td>
                <% let tipo = factura.tipo;
                if(nc){
                    tipo = "NC";
                } %>
                <td><span class="factAll <%= estilo %>"><%= tipo %></span></td>
                <td><%= factura.numero %></td>
                <%let total = factura.total - factura.senia;
                if(factura.tipo === "S"){
                    total = factura.senia;
                }%>
                <td class="importe"><%= monetarizar(total) %></td>
                
                <td class="factRegFDP">
                    <%= factura.formaPago %>
                </td>
                <td>
                    <%if(factura.formaPago === "multiple"){%>
                        <span class="factRegFDPinfo factRegPM">&#128712;
                            <span class="factRegObservaciones">
                            <%let observaciones = JSON.parse(factura.observaciones);
                            observaciones = observaciones.pagoMultiple
                            for(dato in observaciones){
                                if(observaciones[dato] == true){%>
                                    <span>
                                        <span><%= dato %>: </span>
                                        <span><%= monetarizar(observaciones[`monto${dato}`]); %></span>
                                    </span><hr>
                                <%}
                            }%>
                            </span>
                        </span>
                    <%}%>

                    <%if(factura.senia > 0 && factura.tipo !== "S"){%>
                        <span class="factRegFDPinfo factRegSenia">&#128712;
                            <span class="factRegObservaciones">
                                <span>
                                    <span>Total: </span>
                                    <span><%= monetarizar(factura.total); %></span>
                                </span><hr>
                                <span>
                                    <span>Senia: </span>
                                    <span><%= monetarizar(factura.senia); %></span>
                                </span>
                            </span>
                        </span>
                    <%}%>

                    <%if(factura.tipo === "S"){
                        let observaciones = JSON.parse(factura.observaciones);%>
                        <span class="factRegFDPinfo factRegSenia">&#128712;
                            <span class="factRegObservaciones">
                                <span>
                                    <span>Estado:</span>
                                    <span><%= observaciones.estadoSenia %></span>
                                </span>
                            </span>
                        </span>
                    <%}%>

                    <%if(nc){
                        let observaciones = JSON.parse(factura.observaciones);%>
                        <span class="factRegFDPinfo factRegNC">&#128712;
                            <span class="factRegObservaciones">
                                    <span>
                                        <span>Comprobante:<%= observaciones.nc %></span>
                                    </span><hr>
                            </span>
                        </span>
                    <%}%>
                </td>
                <td>
                    <%if(factura.tipo !== "NC"){%>
                        <img src="/im/backventas.svg" alt="imprimir ticket" title="Reimprimir" data-id="<%=factura.id%>" data-tipo="<%=factura.tipo%>" class="reimprimirTicket">
                    <%};
                    if(factura.tipo !== "S" && !nc){%>    
                        <span class="btn btnNC" data-id="<%=factura.id%>" data-tipo="<%=factura.tipo%>">NC</span>
                    <%}%>
                </td>
            </tr>
        <%}); %>
        </tbody>
    </table>
    <span>

        <div class="resumenRegistroFact">
            <h3>Resumen</h3>
            <span>Fecha: <%=fechaNormalizada%></span>
            <hr>
            <span>Total de operaciones: <%=resumen.contadorOperaciones%></span>
            <hr>
            <span>Venta total: <%= monetarizar(resumen.totalDia) %></span>
            <hr>
            <span>Ticket promedio: <%=monetarizar(resumen.promedio)%></span>
        </div>
        <br>
        <div class="resumenRegistroFact">
            <h3>Distribución</h3>
            <span>Efectivo: <%=monetarizar(resumen.totalEfectivo)%></span>
            <hr>
            <span>Débito: <%=monetarizar(resumen.totalDebito)%></span>
            <hr>
            <span>Crédito: <%=monetarizar(resumen.totalCredito)%></span>
            <hr>
            <span>Tranf. NB: <%=monetarizar(resumen.totalNB)%></span>
        </div>
        <br>
        <div class="resumenRegistroFact">
            <h3>Registro</h3>
            <span>Total con CAE: <%=monetarizar(resumen.totalCAE)%></span>
            <hr>
            <span>Total sin CAE: <%=monetarizar(resumen.totalNF)%></span>
            <hr>
            <span>Total en señas: <%=monetarizar(resumen.totalSeniado)%></span>
        </div>

    </span>
    

    <%} else {%>
        <span>No se encuentran registros para la fecha</span>
    <%};%>

</div>