<h2 id="InputRegistroFacturacion">Facturacion del <input type="date" name="fechaRegFact" id="fechaRegFact" value="<%=fechaHyphen%>"></h2> 
<div id="contRegistroFact">

    <%if(facturas.length > 0){%>
    <table id="tablaFacturacionLocalRegistros">
        <thead>
            <tr>
                <th>Fecha de factuación</th>
                <th>Tipo</th>
                <th>Numero</th>
                <th>Total</th>
                <th>Medio de Pago</th>
                <th>Fecha de emisión</th>
            </tr>
        </thead>
        <tbody>
        <%facturas.forEach(factura => {
            let fechaFacturacion = new Date(factura.fecha);%>
            <tr>
                <td><%= fechaFacturacion.toLocaleDateString("es-AR", {timeZone: 'UTC'})%></td>
                <td><%= factura.tipo %></td>
                <td><%= factura.numero %></td>
                <td>$<%= factura.total %></td>
                <td><%= factura.formaPago %></td>
                <td><%= factura.fechaevento.toLocaleString("es-AR") %></td>
            </tr>
        <%}); %>
        </tbody>
    </table>
    <span>

        <div id="resumenRegistroFact">
            <h3>Resumen</h3>
            <span>Fecha: <%=fechaNormalizada%></span>
            <hr>
            <span>Total de operaciones: <%=facturas.length%></span>
            <hr>
            <span>Venta total: <%= resumen.totalDia %></span>
            <hr>
            <span>Ticket promedio: <%=resumen.promedio%></span>
        </div>
        <br>
        <div id="resumenRegistroFact">
            <h3>Distribución</h3>
            <span>Efectivo: <%=resumen.totalEfectivo%></span>
            <hr>
            <span>Débito: <%=resumen.totalDebito%></span>
            <hr>
            <span>Crédito: <%=resumen.totalCredito%></span>
            <hr>
            <span>Tranf. NB: <%=resumen.totalNB%></span>
        </div>
        <br>
        <div id="resumenRegistroFact">
            <h3>Registro</h3>
            <span>Total con CAE: <%=resumen.totalCAE%></span>
            <hr>
            <span>Total sin CAE: <%=resumen.totalNF%></span>
        </div>

    </span>
    

    <%} else {%>
        <span>No se encuentran registros para la fecha</span>
    <%};%>

</div>

<script defer src="/script/registroFacturacion.js"></script>