<form action="" method="post" enctype="multipart/form-data" class="editor">
    <h1>Subir Nueva Foto</h1>
    <b>
    <span>Tipo: <%= tipo %></span>
    <span>Nombre: <%= data.nombre || data.categoria %></span>
    <input type="hidden" name="nombre" value="<%= data.nombre || data.categoria %>">
    <span>Archivo: <%= data.imgCat || data.img || data.imgCard %></span>
    <input type="hidden" name="nombreArchivo" value="<%= data.imgCat || data.img || data.imgCard %>">
    <span>ID: <%= data.id %></span>
    <input type="hidden" name="id" value="<%= data.id %>">
    </b>
    <span>
        Seleccionar archivo PNG desde el dispositivo, el nombre será reasignado por el sistema
    </span>
    <span>
        Caracteristicas:
        <%let txt1 = "Archivo de imágen caudrado de 700 * 700 pixeles, formato PNG";
        let txt2 = "Archivo de imágen caudrado de 500 * 500 pixeles, fondo transparente, formato PNG"
        if(tipo == "productos" || tipo == "locales"){ %>
            <%= txt1 %>
        <% } else if(tipo == "categorias"){ %>
            <%= txt2 %>
        <% } %>
    </span>
    <span>
        <input type="file" name="foto" id="foto">
    </span>
    <span>
        <input type="submit" value="Subir">
    </span>
</form>