<div id="errores"></div>
<div id="localCards">
  <% data.forEach(dato => {%>
    <div class="backListaLocalCard">
      <img src="/<%= dato.img %>" alt="" />
      <h1><%= dato.nombre %></h1>
      <table>
        <tbody>
          <tr>
            <td>id</td>
            <td><%= dato.id %></td>
          </tr>
          <tr>
            <td>Franquicia</td>
            <td><%= dato.franquicia %></td>
          </tr>
          <tr>
            <td>Nombre</td>
            <td><%= dato.nombre %></td>
          </tr>
          <tr>
            <td>CUIT</td>
            <td><%= dato.cuit %></td>
          </tr>
          <tr>
            <td>Estado Impositivo</td>
            <td><%= dato.impuestos %></td>
          </tr>
          <tr>
            <td>Punto de Venta</td>
            <td><%= dato.ptoventa %></td>
          </tr>
          <tr>
            <td>Dirección</td>
            <td><%= dato.direccion %></td>
          </tr>
          <tr>
            <td>Telefono</td>
            <td><%= dato.telefono %></td>
          </tr>
          <tr>
            <td>Google Map</td>
            <td><%= dato.gmap %></td>
          </tr>
          <tr>
            <td>Promo Provincia</td>
            <td><%= dato.promobp %></td>
          </tr>
          <tr>
            <td>Link MP</td>
            <td><%= dato.linkmp %></td>
          </tr>
          <tr>
            <td>Dias de Entrega</td>
            <td>
              <% let diasEntrega = [];
                let diasActuales = JSON.parse(dato.entrega);
                diasActuales.forEach((dia) => {
                  switch (dia) {
                    case 0:
                      diasEntrega.push("Domingo");
                      break;
                    case 1:
                      diasEntrega.push("Lunes");
                      break;
                    case 2:
                      diasEntrega.push("Martes");
                      break;
                    case 3:
                      diasEntrega.push("Miércoles");
                      break;
                    case 4:
                      diasEntrega.push("Jueves");
                      break;
                    case 5:
                      diasEntrega.push("Viernes");
                      break;
                    case 6:
                      diasEntrega.push("Sábado");
                      break;
                    default:
                      break;
                  };
                })
                diasEntrega.forEach((dia) => {%> <%= dia %>, <%}) %>
            </td>
          </tr>
          <tr>
            <td>Estado</td>
            <td class="servicio<%= dato.estado %>"><%= dato.estado %></td>
          </tr>
          <% let servicios = dato.servicios;
          servicios = JSON.parse(servicios);
          for(servicio in servicios){
            let estado = "inactivo";
            if(servicios[servicio]){estado = "activo"}%>
          <tr>
            <td>Servicios <%= servicio %></td>
            <td class="servicio<%=estado%>"><%= estado %></td>
          </tr>
          <%}%>
        </tbody>
      </table>
      <div class="backListaProdCardBoton btnNaranja" id="backListaLocalEditar" data-id="<%= dato.id %>">editar</div>
      <div class="backListaProdCardBoton btnRojo" id="backListaLocalEliminar" data-id="<%= dato.id %>" data-tipo="local">eliminar</div>
    </div>
    <%}); %>
    </div>