<div class="backMenu" class="backSubMenu">
    <h2>Productos</h2>
    <div class="backCard <%= menu %>" id="verCategoria">
      <h1>Ver Catergorías</h1>
    </div>
    <div class="backCard <%= menu %>" id="nuevaCategoria">
      <h1>Nueva Catergoría</h1>
    </div>
    <div class="backCard <%= menu %>" id="nuevoProd">
      <h1>Nuevo Producto</h1>
    </div>
    <div class="backCard <%= menu %>" id="vistaCard">
      <h1>Vista de Tarjetas</h1>
    </div>
    <div class="backCard <%= menu %>" id="vistaTabla">
      <h1>Vista de Tabla</h1>
    </div>
  </div>