<div class="backMenu noImprimir">
  <h2>Panel de Control<span id="backMenuShow">Menu</span></h2>
</div>


<% if(userRol == "supervisor" || userRol == "produccion"){%>
  <div class="backMenu noImprimir" id="supervisor">
    <h2>Administracion</h2>
    <div class="backCard <%= menu %>" id="usuarios">
      <img src="/im/backuser.svg" alt="icono usuarios" />
      <h1>Usuarios</h1>
    </div>
    <div class="backCard <%= menu %>" id="actividadToda">
      <img src="/im/backactividad.svg" alt="icono actividad" />
      <h1>Actividad</h1>
    </div>
    <h2>Locales</h2>
    <div class="backCard <%= menu %>" id="productos">
      <img src="/im/backprods.svg" alt="icono productos" />
      <h1>Productos</h1>
    </div>
    <div class="backCard <%= menu %>" id="precios">
      <img src="/im/backprecios.svg" alt="icono precios" />
      <h1>Precios</h1>
    </div>
    <div class="backCard <%= menu %>" id="facturacion">
      <img src="/im/backventas.svg" alt="icono productos" />
      <h1>Facturacion</h1>
    </div>
    <div class="backCard <%= menu %>" id="local">
      <img src="/im/backlocal.svg" alt="icono local" />
      <h1>Locales</h1>
    </div>
    <div class="backCard <%= menu %>" id="fotos">
      <img src="/im/backfotos.svg" alt="icono fotos" />
      <h1>Fotos</h1>
    </div>
    <h2>Producción</h2>
    <div class="backCard <%= menu %>" id="productosFabrica">
      <img src="/im/backproductosfabrica.svg" alt="icono productosFabrica" />
      <h1>Productos Fábrica</h1>
    </div>
    <div class="backCard <%= menu %>" id="preciosFabrica">
      <img src="/im/backprecios.svg" alt="icono precios" />
      <h1>Precios Fábrica</h1>
    </div>
    <div class="backCard <%= menu %>" id="produccionFabrica">
      <img src="/im/backproduccion.svg" alt="icono produccion" />
      <h1>Pedidos Produccion</h1>
    </div>
    <div class="backCard <%= menu %>" id="fotosFabrica">
      <img src="/im/backfotos.svg" alt="icono fotos" />
      <h1>Fotos Fábrica</h1>
    </div>
    <div class="backCard <%= menu %>" id="reportesFabrica">
      <img src="/im/backreporte.svg" alt="icono fotos" />
      <h1>Reportes</h1>
    </div>
  <!-- </span> -->
<% } %>
<% if(userRol == "admin" ||userRol == "atencion"){ %>
  <div class="backMenu noImprimir" id="admin">
  <!-- <div class="backCard <%= //menu %>" id="stock" style="display: none;">
    <img src="/im/backprods.svg" alt="icono stock" />
    <h1>Stock</h1>
  </div>
  <div class="backCard <%= //menu %>" id="pedidos" style="display: none;">
    <img src="/im/backventas.svg" alt="icono pedidos" />
    <h1>Ventas Online</h1>
  </div> -->
<% } %>
<% if(userRol == "admin"){
      if(servicios.pedidos){%>
        <div class="backCard <%= menu %>" id="produccionLocal">
          <img src="/im/backproduccion.svg" alt="icono produccion" />
          <h1>Pedidos Produccion</h1>
        </div>
        <%};
      if(servicios.facturacion){%>
        <div class="backCard <%= menu %>" id="facturacionLocal" >
          <img src="/im/backventas.svg" alt="icono facturacion" />
          <h1>Facturacion</h1>
        </div>
        <div class="backCard <%= menu %>" id="facturacionRegistros" >
          <img src="/im/backreporte.svg" alt="icono registros" />
          <h1>Administrar</h1>
        </div>
        <%};
        if(!servicios.facturacion && !servicios.pedidos){%>
          <b>Usted no posee servicios activos, por favor comunicarse con administración</b>
        <%};%>
  <!-- <div class="backCard <%= //menu %>" id="actividad" style="display: none;">
    <img src="/im/backactividad.svg" alt="icono actividad" />
    <h1>Actividad</h1>
  </div> -->
<% } %>
</div>