<div class="backMenu" class="backSubMenu">
    <h2>Filtros de Tabla</h2>
    <div class="backCard <%= menu %> filtroProduccion" id="inbox" data-filtro="inbox">
        <h1>Inbox</h1>
    </div>
    <div class="backCard <%= menu %> filtroProduccion" id="cargados" data-filtro="cargados">
        <h1>Cargados</h1>
    </div>
    <div class="backCard <%= menu %> filtroProduccion" id="aceptados" data-filtro="aceptados">
        <h1>Aceptados</h1>
    </div>
    <div class="backCard <%= menu %> filtroProduccion" id="todos" data-filtro="todos">
        <h1>Todos</h1>
    </div>
</div>


<script>
    window.userRol = <%- JSON.stringify(userRol) %>
</script>


<script defer src="/script/menuProduccion.js"></script>

