<div class="backMenu backSubMenu noImprimir">
    <h2>Administración</h2>
    <div class="backCard <%= menu %>" id="facturacionLocalRegistros">
        <h1>Facturación</h1>
    </div>
    <div class="backCard <%= menu %>" id="facturacionLocalSenias">
        <h1>Señas</h1>
    </div>
    <div class="backCard <%= menu %>" id="facturacionLocalGastos">
        <h1>Retiros y gastos</h1>
    </div>
    <div class="backCard <%= menu %>" id="facturacionLocalCierreCaja">
        <h1>Cierre de Caja</h1>
    </div>
    <div class="backCard <%= menu %>" id="facturacionLocalEstadisticas" style="opacity: 0.5; cursor:auto;">
        <h1>Estadísticas</h1>
    </div>
    <div class="backCard <%= menu %>" id="facturacionLocalProdPropios">
        <h1>Productos propios</h1>
    </div>
</div>
<script defer src="/script/menuRegistrosFacturacion.js"></script>