<form action="" method="post" id="nuevaProduccion" class="editor anchoMax">
    <div id="datosFloat">
        <span>
            <span><b>Fecha de entrega:</b></span>
            <span id="pedidoProduccionDatosFechaEntrega">Martes 28/11/2023</span>
        </span>
        <span id="pedidoProduccionTotal">
            <b>Total:</b>
        </span>
        <span>
            <input type="submit" value="Enviar" class="btn btnVerde" id="pedidoProduccionEnviar">
            <span class="btn btnRojo btnSmall" id="pedidoProduccionVaciar">Vaciar</span>
            <span class="btn btnNaranja btnSmall" id="pedidoProduccionVerPedidoAnterior">Pedido anterior</span>
        </span>
    </div>
    <h1>Nuevo Pedido Producción</h1>
    <table id="pedidoProduccionTabla">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Producto</th>
                <th>Unidad</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Importe</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            <% categorias.forEach((categoria) => {
                let prodFiltrados = [];
                productos.forEach((item) => {
                    if(item.categoria == categoria.categoriaProduccion){
                        prodFiltrados.push(item);
                    }
                })
                if(prodFiltrados.length > 0){%>
                    <tr>
                        <th colspan="7" class="categoriaTabla"><%= categoria.categoriaProduccion %></th>
                    </tr>
                    <%prodFiltrados.forEach((producto) => {
                        let ultimoPedidoParsed = JSON.parse(ultimoPedido)
                        let ultimaCantidad = 0;
                        if(ultimoPedidoParsed !== undefined && ultimoPedido !== 0){
                            ultimaCantidad = ultimoPedidoParsed.find((dato) => dato[1] == producto.id);
                            if(ultimaCantidad !== undefined){
                                ultimaCantidad = ultimaCantidad[0];
                                
                            } else {
                                ultimaCantidad = 0;
                            }
                        };
                        let color = "#CCCCCC";
                        let categoria = categorias.find((dato) => dato.categoriaProduccion == producto.categoria);
                        if(categoria){color = categoria.color};
                        %>
                        <tr>
                            <td style="border-color: <%= color %>;" class="categoriaProduccion"><%= producto.codigo %></td>
                            <td><%= producto.nombre %></td>
                            <td><%= producto.unidad %></td>
                            <td class="pedidoProduccionCeldaImporte">
                                <span>$</span>
                                <span id="costo<%= producto.id %>"><%= producto.costo %></span></td>
                            <td>
                                <input type="text" class="pedidoProduccionUltimoPedido" disabled value="<%= ultimaCantidad %>">
                                <input type="number" min="0" name="<%= producto.id %>" id="cantidad<%= producto.id %>" data-id="<%= producto.id %>" class="pedidoProduccionCantidad" value="0">
                            </td>
                            <td class="pedidoProduccionCeldaImporte">
                                <span>$</span>
                                <span class="importe" id="importe<%= producto.id %>">0</span>
                            </td>
                            <td class="verProdFabrica">ver <span><img src="<%= producto.img %>" alt=""></span></td>
                        </tr>
                    <%})
                }
            })%>
            
            <tr style="display: none;">
                <td> <input type="text" name="pedidoProduccionFechaEntrega" id="pedidoProduccionFechaEntrega"> </td>
                <td> <input type="text" name="pedidoProduccionImporteTotal" id="pedidoProduccionImporteTotal"> </td>
            </tr>
        </tbody>
    </table>
</form>