<form action="" method="post" id="nuevoProducto" class="editor">
    <h1>Nuevo Producto</h1>
    <span>
        <label for="codigo">Código</label>
        <input type="number" class="sinFlechas" name="codigo" id="codigo" value="<%= valoresForm.codigo %>" />
    </span>
    <span>
        <label for="categoria">Categoría</label>
        <select name="categoria" id="categoria">
            <option value="" disabled selected>- Seleccionar un item -</option>
            <% categorias.forEach((categoria) => {
                let categoriaSelected = "";
                if(categoria.categoriaProduccion == valoresForm.categoria){categoriaSelected = "selected"}%>
                <option value="<%= categoria.categoriaProduccion %>" <%= categoriaSelected %>><%= categoria.categoriaProduccion %> </option>
            <%}) %>
        </select>
    </span>
    <span>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" value="<%= valoresForm.nombre %>"/>
    </span>
    <span>
        <label for="costo">costo</label>
        <input type="number" class="sinFlechas" name="costo" id="costo" value="<%= valoresForm.costo %>" />
    </span>
    <span>
        <label for="unidad">Unidad</label>
        <input type="text" name="unidad" id="unidad" value="<%= valoresForm.unidad %>"/>
    </span>
    <span>
        <label for="descripcion">Descripcion</label>
        <textarea name="descripcion" id="descripcion" rows="5"><%= valoresForm.descripcion %></textarea>
    </span>
    <span>
        <label for="sector">Sector de producción</label>
        <select name="sector" id="sector">
            <option value="" disabled selected>- Seleccionar un item -</option>
            <% sectores.forEach((sector) => {
                let sectorSelected = "";
                if(sector.sector == valoresForm.sector){sectorSelected = "selected"}%>
                <option value="<%= sector.sector %>" <%= sectorSelected %>><%= sector.sector %></option>
            <%}) %>
        </select>
    </span>
    <span>
        <label for="estado">Estado</label>
        <% let estadoChecked = "";
        if(valoresForm.estado){
            if(JSON.parse(valoresForm.estado)){estadoChecked = "checked"}
        }%>
        <input type="checkbox" name="estado" id="estado" value="true" <%= estadoChecked %>> Disponible
    </span>
    <span>
        <input type="submit" value="Crear">
    </span>
</form>