<form action="" method="post" class="editor" id="nuevoUsuario">
  <h1>Nuevo Usuario</h1>
  <span>
    <label for="usuario">Usuario</label>
    <input type="text" name="usuario" id="usuario" value="<%= valoresForm.usuario %>" />
  </span>
  <span>
    <label for="passUser">Contraseña</label>
    <input type="password" name="passUser" id="passUser" />
  </span>
  <span>
    <label for="local">Local</label>
    <select name="local" id="local">
        <option value="" selected>-Seleccione un local-</option>
        <% locales.forEach((local) => {%>
        <option value="<%=local.id%>" <% if(valoresForm.local == local.nombre){%> <%= "selected" %> <%}%>><%=local.nombre%></option>
        <% }) %>
    </select>
  </span>
  <span>
    <% let selectedNone = "";
      let selectedAdmin = "";
      let selectedAtencion = "";
      switch (valoresForm.rolUser) {
        case "":
          selectedNone = "selected";
          break;
        case "admin":
          selectedAdmin = "selected";
          break;
        case "atencion":
          selectedAtencion = "selected";
          break;
        default:
          break;
      } %>
    <label for="rolUser">Rol</label>
        <select name="rolUser" id="rolUser">
            <option value="" <%= selectedNone %>>-Seleccione un Rol-</option>
            <option value="admin" <%= selectedAdmin %>>Administración</option>
            <option value="atencion" <%= selectedAtencion %>>Atención</option>
        </select>
    </label>
  </span>
  <span>
    <input type="submit" value="Crear" />
  </span>
</form>
