<h2>Precios</h2>
<form action="/panel/precios" method="post" id="preciosForm">
<table id="preciosTabla">
    <thead>
        <tr>
            <th>Código</th>
            <th>Categoría</th>
            <th>Nombre</th>
            <th>Precio Unidad</th>
            <th>Nuevo Precio</th>
            <th>Precio Docena</th>
            <th>Nuevo Precio</th>
            <th>Precio Kilo</th>
            <th>Nuevo Precio</th>
        </tr>
    </thead>
    <tbody>
      <%data.forEach(dato => {%>
        <tr>
          <td><%= dato.codigo %> <input type="text" id="id<%= dato.id %>" value="<%= dato.id %>" hidden> </td>
          <td><%= dato.categoria %></td>
          <td><%= dato.nombre %></td>
          <td class="numTabla ">$<%= dato.preciounidad %></td>
          <td><input type="number" class="precioUpdate" name="preciounidad<%= dato.id %>" id="preciosPrecio" data-id="<%= dato.id %>" min="0"></td>
          <td class="numTabla">$<%= dato.preciodocena %></td>
          <td><input type="number" class="precioUpdate" name="preciodocena<%= dato.id %>" id="preciosPrecio" data-id="<%= dato.id %>" min="0"></td>
          <td class="numTabla">$<%= dato.preciokilo %></td>
          <td><input type="number" class="precioUpdate" name="preciokilo<%= dato.id %>" id="preciosPrecio" data-id="<%= dato.id %>" min="0"></td>
        </tr>
      <%}); %>
    </tbody>
</table>
<input type="submit" value="Actualizar Precios" class="backListaProdCardBoton btnNaranja inputBtn" id="preciosEnviar">
</form>
<script src="/script/preciosUpdate.js"></script>