<div class="titulo">
    <%  function verFechaFiltro(fecha){
            let year = fecha.getFullYear();
            let month = fecha.getMonth() + 1;
            let day = fecha.getDate();
            return day + "/" + month + "/" + year;
        }
        let diasDeEntrega = JSON.parse(dataLocal.entrega);
        let fechaHoy = new Date();
        let modfechaPM = 0;
        if(fechaHoy.getHours() > 12){
            modfechaPM = 1;
        };
        let proximaEntrega;
        for(let i = 0; i < diasDeEntrega.length; i++) {
            if(fechaHoy.getDay() < diasDeEntrega[i]){
                proximaEntrega = diasDeEntrega[i];
                break;
            }
        }
        let difDiasEntrega = proximaEntrega - fechaHoy.getDay();
        let fechaProximaEntrega = new Date(Date.now() + difDiasEntrega * 24 * 60 * 60 * 1000);
        if((difDiasEntrega - modfechaPM) > 2){};
        let fechaLimiteProximoPedido = new Date()
        let aperturaProximoPedido = Date.now()
        %>
    <h2>Pedidos de Producción a Fábrica - Próxima entrega <%= proximaEntrega %> </h2>
</div>
<div class="produccionCont">
    <div class="produccion">
        <div class="pedidosProdCard" style="order: 10000;">
            <span>Calendario de pedidos</span>
            <span>Hoy: <%= verFechaFiltro(fechaHoy) %></span>
            <span>Dias para proxima entrega: <%= difDiasEntrega %></span>
            <span>Proxima Entrega: <%= verFechaFiltro(fechaProximaEntrega) %></span>
            <span>Apertura prox pedido: <%= aperturaProximoPedido %></span>
        </div>
        <% data.forEach((pedido)=> {
            let estilo;
            switch (pedido.estado) {
                case "precarga":
                estilo = "pedidoProdPrecarga";
                imagen = "precarga";
                break;
                case "cargado":
                estilo = "pedidoProdCargado";
                imagen = "cargado";
                break;
                case "aceptado":
                estilo = "pedidoProdAceptado";
                imagen = "checked";
                break;
                case "produccion":
                estilo = "pedidoProdProduccion";
                imagen = "produccion";
                break;
                case "enviado":
                estilo = "pedidoProdEnviado";
                imagen = "enviado";
                break;
                case "entregado":
                estilo = "pedidoProdEntregado";
                imagen = "entregado";
                break;
                case "facturado":
                estilo = "pedidoProdFacturado";
                imagen = "facturado";
                break;
                default:
                break;
                }
            let buzon;
            if((pedido.buzon == "mensajeFabrica" && lector == "local") || (pedido.buzon == "mensajeLocal" && lector ==
            "fabrica")){
                buzon = "block";
            } else {
                buzon = "none";
            } %>
            <div class="pedidosProdCard <%= estilo %>" data-id="<%= pedido.id %>" data-lector="<%= lector %>">
                <img src="/im/<%= imagen %>.svg" alt="icon" class="pedidosCardTipo">
                <img src="/im/mensaje.svg" alt="icon" class="pedidosCardMsj" style="display:<%=buzon%>">
                <span>Pedido: <%= pedido.id %></span>
                <span>Fecha: <%= pedido.fecha.toLocaleString("es-AR") %></span>
                <span><b>Estado: <%= pedido.estado %></b></span>
            </div>
            <% }) %>
    </div>
    <div class="produccionPedido">
        
        <% if(dataPedido !==undefined){%>
            <div class="pedidoCard">
                <h3>Pedido Nº<%= dataPedido.id %></h3>
                <hr>
                <h3>Fecha <%= dataPedido.fecha.toLocaleString("es-AR") %></h3>
                <hr>
                <h3>Pedido:</h3>
                <div class="pedido">
                    <table id="tablaProduccionCard">
                        <thead>
                            <tr>
                                <th>Códgio</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Pecio Unitario</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let detallePedido=JSON.parse(dataPedido.pedido);
                            detallePedido.forEach((item)=> {
                                let producto = productos.find((prod) => prod.id == item[1])
                                %>
                                <tr>
                                    <td><%= item[1] %></td>
                                    <td><%= producto.nombre %></td>
                                    <td><%= item[0] %></td>
                                    <td>$<%= item[2] %></td>
                                    <td>$<%= item[0] * item[2] %></td>
                                </tr>
                                <%})%>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div>Total: <b>$<%= dataPedido.total %></b></div>
                <hr>
                <span>Estado: <%= dataPedido.estado %></span>

                <hr>
                <div class="pedidoEstado">
                    <span>Modificar estado:</span>
                    <% if(dataPedido.estado === "precarga" || dataPedido.estado === "cargado"){%>
                        <form id="formCancelado" method="post">
                            <input type="hidden" name="id" value="<%= dataPedido.id %>">
                            <input type="hidden" name="estado" value="cancelado">
                            <input type="submit" data-form="formCancelado" value="Cancelar" class="pedidoEstadoBoton btnRojo">
                        </form>
                    <%}%>
                    <% if(dataPedido.estado === "enviado" || dataPedido.estado === "facturado"){%>
                            <form id="formRecibido" method="post">
                                <input type="hidden" name="id" value="<%= dataPedido.id %>">
                                <input type="hidden" name="estado" value="recibido">
                                <input type="submit" data-form="formRecibido" value="Recibido" class="pedidoEstadoBoton btnNaranja">
                            </form>
                    <%}%>
                    <% if(dataPedido.estado === "precarga"){%>
                            <form id="formEditar" method="post">
                                <input type="hidden" name="id" value="<%= dataPedido.id %>">
                                <input type="hidden" name="estado" value="editar">
                                <input type="submit" data-form="formEditar" value="Editar" class="pedidoEstadoBoton btnNaranja">
                            </form>
                    <%}%>
                    <% if(dataPedido.estado === "aceptado" || dataPedido.estado === "produccion"){%>
                        Actualmente no es posible modificar el estado del pedido, por cualquier modificación o consulta comunicarse con la fábrica, gracias
                    <%}%>
                </div>

            </div>

            <div class="chatMensajes">
                <% let mensajesPedido = JSON.parse(dataPedido.mensajes);
                mensajesPedido.forEach((mensaje) => {
                    let emisorMensaje;
                    if(mensaje[0] === "mensajeFabrica"){
                        emisorMensaje = "Fábrica";
                    } else {
                        emisorMensaje = "Local";
                    }%>
                    <div class="chatMensaje" id="<%= mensaje[0] %>">
                        <span>
                            <b><%= emisorMensaje %>:</b>
                            <%= mensaje[1] %>
                        </span>
                    </div>
                <%}) %>
            </div>

            <% let emisor = "mensajeLocal";
                if(lector == "fabrica"){emisor = "mensajeFabrica"};%>
            <form action="" id="chatProduccionSend" class="chatSend" method="post">
                <div class="inputError">&#10060; Ocurrió un error con el envío del mensaje, tener en cuenta el mismo no puede estar vacío ni contener caracteres especiales, recargue la página e intente nuevamente</div>
                <input type="hidden" name="emisorMensaje" value="<%= emisor %>" id="chatEmisor">
                <input type="hidden" name="pedidoProdNum" value="<%= dataPedido.id %>" id="pedidoProdNum">
                <input type="text" name="mensajeProduccion" class="chatInput" id="chatInput">
                <input type="submit" value="Enviar" class="chatBtnEnviar">
            </form>

            <%} %>
    </div>
</div>