<%  function verFechaFiltro(fecha){
        let year = fecha.getFullYear();
        let month = fecha.getMonth() + 1;
        let day = fecha.getDate();
        return day + "/" + month + "/" + year;
    }%>

<div class="titulo">
    <h2>Pedidos de Producción a Fábrica</h2>
</div>
<%  if(lector == "local"){ %>
    <div id="calendarioPedidosProduccion" class="anchoMax pedidosProdInfo">
        <h2>Calendario de Pedidos y Entregas</h2>
        <div id="calendarioPedidos">
            <div>
                <span>Hoy: </span>
                <span><%= prodFecha.fechaHoy.toLocaleString("es-AR") %></span>
            </div>
            <div>
                <span>Entrega: </span>
                <span><%= verFechaFiltro(prodFecha.fechaEntregaPedido) %></span>
                <span class="<%= prodFecha.pedidoEstado %>"> pedido <%= prodFecha.pedidoEstado %></span>
            </div>
            <div>
                <span>Proxima Entrega: </span>
                <span><%= verFechaFiltro(prodFecha.fechaEntregaProxPedido) %></span>
                <span class="<%= prodFecha.proximoPedidoEstado %>">pedido <%= prodFecha.proximoPedidoEstado %></span>
            </div>
        </div>
        <% if(prodFecha.pedidoEstado == "abierto" || prodFecha.proximoPedidoEstado == "abierto"){%>
        <div id="botones">
            <span class="btn btnNaranja" id="pedidoProdNuevo">Nuevo Pedido</span>
        </div>
        <%} %>
    </div>
<%}%>

<%if(lector == "fabrica"){%>
    <div id="estadoPedidosLocales"class="anchoMax pedidosProdInfo">
    <h2>Estado de los pedidos</h2>
    <div id="estadoPedidos">
    <%locales.forEach((local) => {
        let serviciosLocal = JSON.parse(local.servicios);
        if(serviciosLocal.pedidos){
            let fechas = fechasLocales.find((fechasLocal) => local.id == fechasLocal.localId);
            if(fechas === undefined){
                return;
            }
            let estadoPedido = "cargado";
            let fechaEntrega = fechas.fechaEntregaActiva;
            console.log(fechasLocales)
            if(fechas.fechaEntregaActiva !== 0){
                if(fechas.fechaEntregaActiva == verFechaFiltro(fechas.fechaEntregaPedido)){
                    estadoPedido = fechas.pedidoEstado;
                } else if(fechas.fechaEntregaActiva == verFechaFiltro(fechas.fechaEntregaProxPedido)){
                    estadoPedido = fechas.proximoPedidoEstado;
                }
            } 
            if(fechas.fechaEntregaActiva == 0){
                if(fechas.pedidoEstado == "cargado" || fechas.pedidoEstado == "pendiente"){
                    fechaEntrega = verFechaFiltro(fechas.fechaEntregaPedido);
                    estadoPedido = fechas.pedidoEstado;
                } else if(fechas.proximoPedidoEstado == "cargado" || fechas.proximoPedidoEstado == "pendiente"){
                    fechaEntrega = verFechaFiltro(fechas.fechaEntregaProxPedido);
                    estadoPedido = fechas.proximoPedidoEstado; 
                }
            }
            /* if(estadoPedido == "cerrado"){
                estadoPedido == "cargado";
            } */
            %>
        <div>
            <span class="produccionSemaforo <%= "prodSemaforo"+estadoPedido %>"></span>
            <span><%= local.nombre %></span>
            <span ><%= fechaEntrega %></span>
            <span><%= estadoPedido %></span>
        </div>
        <%}
    })%>
        </div>
    </div>
<%}%>

<div class="produccionCont">
    <div class="produccion">
        <% data.forEach((pedido)=> {
            let estilo;
            switch (pedido.estado) {
                case "cargado":
                estilo = "pedidoProdCargado";
                imagen = "cargado";
                break;
                case "aceptado":
                estilo = "pedidoProdAceptado";
                imagen = "checked";
                break;
                case "entregado":
                estilo = "pedidoProdProduccion";
                imagen = "produccion";
                break;
                case "cancelado":
                estilo = "pedidoProdCerrado";
                imagen = "cancel";
                break;
                default:
                break;
                }
            let buzon;
            if((pedido.buzon == "mensajeFabrica" && lector == "local") || (pedido.buzon == "mensajeLocal" && lector == "fabrica")){
                buzon = "block";
            } else {
                buzon = "none";
            } %>
            <div class="pedidosProdCard <%= estilo %>" data-id="<%= pedido.id %>" data-lector="<%= lector %>">
                <img src="/im/<%= imagen %>.svg" alt="icon" class="pedidosCardTipo">
                <img src="/im/mensaje.svg" alt="icon" class="pedidosCardMsj" style="display:<%=buzon%>">
                <span>Pedido: <%= pedido.id %></span>
                <%if(lector == "fabrica"){
                    let local = locales.find((local) => pedido.local == local.id)%>
                    <span>Local: <%= local.nombre %></span>
                <%}%>
                <span>Fecha: <%= pedido.fechaentrega %></span>
                <span><b>Estado: <%= pedido.estado %></b></span>
            </div>
            <% }) %>
    </div>
    <div class="produccionPedido">
        
        <% if(dataPedido !== undefined){%>
            <div class="pedidoCard">
                <h3>Pedido Nº<%= dataPedido.id %></h3>
                <hr>
                <h3>Fecha de Entrega: <%= verFechaFiltro(dataPedido.fecha) %></h3>
                <hr>
                <h3>Estado: <%= dataPedido.estado %></h3>
                <hr>
                <h3>Pedido:</h3>
                <div class="pedido">
                    <table id="tablaProduccionCard">
                        <thead>
                            <tr>
                                <th>Códgio</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Pecio Unitario</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let detallePedido=JSON.parse(dataPedido.pedido);
                            detallePedido.forEach((item)=> {
                                let producto = productos.find((prod) => prod.id == item[1])
                                %>
                                <tr>
                                    <td><%= item[1] %></td>
                                    <td><%= producto.nombre %></td>
                                    <td><%= item[0] %></td>
                                    <td>$<%= item[2] %></td>
                                    <td>$<%= item[0] * item[2] %></td>
                                </tr>
                                <%})%>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div>Total: <b>$<%= dataPedido.total %></b></div>
                <hr>
                <span>Estado: <%= dataPedido.estado %></span>

                <hr>
                <div class="pedidoEstado">
                    <span>Modificar estado:</span>
                    <%if(lector == "local"){
                        if(dataPedido.estado === "cargado"){%>
                            <form id="formCancelado" method="post" action="/panel/produccionLocalUpdateEstado">
                                <input type="hidden" name="id" value="<%= dataPedido.id %>">
                                <input type="hidden" name="estado" value="cancelado">
                                <input type="hidden" name="emisor" value="local">
                                <input type="submit" data-form="formCancelado" value="Cancelar" class="pedidoEstadoBoton btnRojo">
                            </form>
                    <%} else {%>
                        Actualmente no es posible modificar el estado del pedido, por cualquier modificación o consulta comunicarse con la fábrica, gracias
                    <%}
                    }
                    if(lector == "fabrica"){
                        if(dataPedido.estado === "cargado"){%>
                            <form id="formAceptar" method="post" action="/panel/produccionFabricaUpdateEstado">
                                <input type="hidden" name="id" value="<%= dataPedido.id %>">
                                <input type="hidden" name="estado" value="aceptado">
                                <input type="hidden" name="emisor" value="fabrica">
                                <input type="submit" data-form="formAceptado" value="Aceptar" class="pedidoEstadoBoton btnVerde">
                            </form>
                        <%} else if(dataPedido.estado === "aceptado"){%>
                            <form id="formEntregado" method="post" action="/panel/produccionFabricaUpdateEstado">
                                <input type="hidden" name="id" value="<%= dataPedido.id %>">
                                <input type="hidden" name="estado" value="entregado">
                                <input type="hidden" name="emisor" value="fabrica">
                                <input type="submit" data-form="forEntregado" value="Entregado" class="pedidoEstadoBoton btnNaranja">
                            </form>
                        <%}
                    }%>
                </div>

            </div>

            <div class="chatMensajes">
                <% let mensajesPedido = JSON.parse(dataPedido.mensajes);
                mensajesPedido.forEach((mensaje) => {
                    let emisorMensaje;
                    if(mensaje[0] === "mensajeFabrica"){
                        emisorMensaje = "Fábrica";
                    } else {
                        emisorMensaje = "Local";
                    }%>
                    <div class="chatMensaje" id="<%= mensaje[0] %>">
                        <span>
                            <b><%= emisorMensaje %>:</b>
                            <%= mensaje[1] %>
                        </span>
                    </div>
                <%}) %>
            </div>

            <% let emisor = "mensajeLocal";
                if(lector == "fabrica"){emisor = "mensajeFabrica"};%>
            <form action="" id="chatProduccionSend" class="chatSend" method="post">
                <div class="inputError">&#10060; Ocurrió un error con el envío del mensaje, tener en cuenta el mismo no puede estar vacío ni contener caracteres especiales, recargue la página e intente nuevamente</div>
                <input type="hidden" name="emisorMensaje" value="<%= emisor %>" id="chatEmisor">
                <input type="hidden" name="pedidoProdNum" value="<%= dataPedido.id %>" id="pedidoProdNum">
                <input type="text" name="mensajeProduccion" class="chatInput" id="chatInput">
                <input type="submit" value="Enviar" class="chatBtnEnviar">
            </form>

            <%} %>
    </div>
</div>
<%  if(lector == "local"){%>
<script>
    localStorage.setItem("fechaEntregaActiva", <%- JSON.stringify(prodFecha.fechaEntregaActiva) %>)
</script>
<%}%>   