<table id="reportePlantaCategorias">
    <thead>
        <tr>
            <th>Categoría</th>
            <th>Productos</th>
            <th>Sección</th>
            <th>Orden</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <%categorias.forEach((categoria) => {
            let productos = [];

            productosCategoria = JSON.parse(categoria.productos);
            // productosCategoria = categoria.productos;
            
            productosCategoria.forEach((producto) => {
                let data = productosFabrica.find((prod) => prod.codigo == producto);
                productos.push(data);
            });%>
            <tr>
                <td><%=categoria.categoria%></td>
                <td class="nombresProductos">
                <%productos.forEach((producto) => {
                    if(producto == undefined){return}   %>
                    <span class="nombreProducto"><%=producto.nombre%></span>
                <%})%>
                </td>
                <td><%=categoria.seccion%></td>
                <td><%=categoria.orden%></td>
                <td class="backListaProdTablaBoton" id="reportePlantaCategoriasEditar" data-id="<%= categoria.id %>">editar</td>
                <td class="backListaProdTablaBoton" id="reportePlantaCategoriasEliminar" data-id="<%= categoria.id %>" data-tipo="produccionreportescategorias">eliminar</td>
            </tr>
        <%})%>
    </tbody>
</table>

<script defer src="/script/reportePlantaCategorias.js"></script>