<table id="tablaUsuarios">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Rol</th>
            <th>Local</th>
            <th colspan="2">Editar</th>
            <!-- <th>Eliminar</th> -->
        </tr>
    </thead>
    <tbody>
      <% usuarios.forEach(usuario => { %>
        <tr>
          <td><%= usuario.usuario %></td>
          <td><%= usuario.rol %></td>
          <td><%= usuario.local %></td>
          <td class="backListaProdTablaBoton" id="backListaUsuarioEditarLocal" data-id="<%= usuario.id %>">editar</td>
          <td class="backListaProdTablaBoton" id="backListaUsuarioEliminarLocal" data-id="<%= usuario.id %>" data-tipo="usuarios">eliminar</td>
        </tr>
      <%}); %>
    </tbody>
</table>

<script defer src="/script/tablaUsuarios.js"></script>