<h2 id="headListaSelect">
  <span>
    Lista de Precios <%=lista.replace(/[^0-9]/g, "")%>
  </span>
  <select name="lista" id="listaDePrecios">
      <%columnas.forEach((dato) => {
          let selected;
          if(lista === dato){
              selected = "selected";
          }
          let nombreDeLista = dato.replace(/[^0-9]/g, "");
          nombreDeLista = "Lista " + nombreDeLista%>
          <option value="<%=dato%>" <%=selected%>><%=nombreDeLista%></option>
      <%})%>
  </select>
</h2>
<table id="tablaProductos">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Descripción</th>
            <th>Fraccionamiento</th>
            <th>Precio x Unidad</th>
            <th>Precio x Docena</th>
            <th>Precio x Kilo</th>
            <th>IVA</th>
            <th>Estado</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
      <% data.forEach(dato => {
        if(!JSON.parse(dato.visible)){
          return;
        }
        let estado = "inactivo"; 
        if(JSON.parse(dato.estado)){
          estado = "activo";
        };
        let ivaVer = parseFloat(dato.iva) / 10;
        %>
        <tr>
          <td><%= dato.codigo %></td>
          <td><%= dato.nombre %></td>
          <td><%= dato.categoria %></td>
          <td><%= dato.descripcion %></td>
          <td><%= dato.fraccionamiento %></td>
          <td>$<%= dato.preciounidad %></td>
          <td>$<%= dato.preciodocena %></td>
          <td>$<%= dato.preciokilo %></td>
          <td><%= ivaVer %>%</td>
          <td><%= estado %></td>
          <td class="backListaProdTablaBoton" id="backListaProdEditar" data-id="<%= dato.id %>">editar</td>
          <td class="backListaProdTablaBoton" id="backListaProdEliminar" data-id="<%= dato.id %>" data-tipo="productos">eliminar</td>
        </tr>
      <%}); %>
    </tbody>
</table>

<script src="/script/tablaProductos.js" defer></script>