<%function monetarizar(valor){
    valor = new Intl.NumberFormat("es-AR", { style: "currency", currency: "ARS" }).format(valor);
    return valor;
}
// analizar filtros de la query
let mensajes = false;
if(filtros.findIndex((item) => item == "mensajes") !== -1){
    mensajes = true;
}
%>

<table id="tablaProduccion">
    <thead>
        <tr>
            <th>Nº</th>
            <th>Fecha Pedido</th>
            <th>Fecha Entrega</th>
            <th>Local</th>
            <th>Monto</th>
            <th>Estado</th>
            <th>Mensajes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <%produccion = produccion.reverse();
        produccion.forEach((pedido) => {
            if(mensajes){
                if(pedido.mensajes.length == 0 || pedido.buzon !== "mensajeLocal"){
                    return;
                }
            }
            let local = locales.find(local => local.id == pedido.local);
            let estiloEstado = "txtVerde"
            if(pedido.estado == "aceptado"){
                estiloEstado = "txtAzul";
            } else if(pedido.estado == "entregado"){
                estiloEstado = "txtGris";
            } else if(pedido.estado == "cancelado"){
                estiloEstado = "txtRojo";
            };%>
            
            <tr>
                <td><%=pedido.id%></td>
                <td><%=pedido.fecha.toLocaleDateString()%></td>
                <td><%=pedido.fechaentrega%></td>
                <td><%=local.nombre%></td>
                <td><%=monetarizar(pedido.total)%></td>
                <td class="<%=estiloEstado%>"><%=pedido.estado%></td>
                <td><%if(pedido.mensajes.length > 0 && pedido.buzon == "mensajeLocal"){%><img src="/im/mensaje.svg" alt="inbox"><%}%></td>
                <td><span class="btn btnVerde btnAbrirPedido" data-id="<%=pedido.id%>" data-lector="fabrica">abrir</span></td>
            </tr>
        <%})%>
    </tbody>
</table>