<%function monetarizar(valor){
    valor = new Intl.NumberFormat("es-AR", { style: "currency", currency: "ARS" }).format(valor);
    return valor;
}%>
<table id="tablaProduccion">
    <thead>
        <tr>
            <th>Nº</th>
            <th>Fecha Pedido</th>
            <th>Fecha Entrega</th>
            <th>Local</th>
            <th>Monto</th>
            <th>Estado</th>
            <th>Mensajes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <%produccion = produccion.reverse();
        produccion.forEach((pedido) => {
            let filtrar = true;
            if(filtros.validacion){
                if(filtros.filtros.findIndex((filtro) => filtro === "inbox") != -1){
                    if(pedido.mensajes.length !== 0 && pedido.buzon == "mensajeLocal"){
                        filtrar = false;
                    }
                }
                if(filtros.filtros.findIndex((filtro) => filtro === "cargados") != -1){
                    if(pedido.estado === "cargado"){
                        filtrar = false;
                    }
                }
                if(filtros.filtros.findIndex((filtro) => filtro === "aceptados") != -1){
                    if(pedido.estado === "aceptado"){
                        filtrar = false;
                    }
                }
            } else {
                filtrar = false;
            }
            if(filtrar){
                return;
            }
            let local = locales.find(local => local.id == pedido.local);
            let estiloEstado = "txtVerde"
            if(pedido.estado == "aceptado"){
                estiloEstado = "txtAzul";
            } else if(pedido.estado == "entregado"){
                estiloEstado = "txtGris";
            } else if(pedido.estado == "cancelado"){
                estiloEstado = "txtRojo";
            };%>
            
            <tr>
                <td><%=pedido.id%></td>
                <td><%=pedido.fecha.toLocaleDateString()%></td>
                <td><%=pedido.fechaentrega%></td>
                <td><%=local.nombre%></td>
                <td><%=monetarizar(pedido.total)%></td>
                <td class="<%=estiloEstado%>"><%=pedido.estado%></td>
                <td><%if(pedido.mensajes.length > 0 && pedido.buzon == "mensajeLocal"){%><img src="/im/mensaje.svg" alt="inbox"><%}%></td>
                <td><span class="btn btnVerde btnAbrirPedido" data-id="<%=pedido.id%>" data-lector="fabrica">abrir</span></td>
            </tr>
        <%})%>
    </tbody>
</table>

<script>
    window.filtros = <%- JSON.stringify(filtros) %>
</script>